@import "variables.less";
@import "mixins.less";

h1, h2, h3 {
	margin: @line-height-computed 0;
}

th {
	font-family: @font-family-serif;
}

#headline {
	margin-top: @line-height-computed * 3;
}

.lead {
	margin-bottom: @line-height-computed * 0.5;
}

nav {
	font-family: @headings-font-family;
	font-weight: @headings-font-weight;
}

#page-header {
	margin-bottom: @line-height-computed;
}

.headshot {
	// margin: @line-height-computed 0;
}

#testimonial-1 {
}

#clients {
	margin-top: @line-height-computed * 2;
	margin-bottom: @line-height-computed;
}

#testimonial-2, #testimonial-3 {
	margin-top: @line-height-computed * 2;
	margin-bottom: @line-height-computed;
}

#reinforcement, #closing {
	// color: #fff;
	// background-color: @brand-secondary;
	margin-top: @line-height-computed;
	margin-bottom: @line-height-computed;
}

#closing {
	padding-bottom: @line-height-computed;
}

#benefits {
	// color: @gray-dark;
	// background-color: #fff;
	padding: @line-height-computed 0;
	li {
		margin: @line-height-computed * 0.5 0;
	}
}

#benefits, #projects {
	// padding-top: 44px;
}

#projects {
	font-size: @font-size-small;
}

.project {
	margin-top: @line-height-computed;
}

