---
layout: default
greeting: Hi, I'm Nathan Selikoff!
headline: I help design teams bring interactive experiences to life
specialtiesHeadline: "With over 20 years in production environments, here are some of my creative coding specialties:"
footerHeadline: Staffing up or expanding your capabilities? Let’s chat.
---

<div class="bg-indigo-700">
  <header class="mx-auto px-6 pt-8 md:max-w-screen-md lg:max-w-screen-lg">
    <div class="grid grid-cols-1 md:grid-cols-8 md:gap-6 lg:grid-cols-12">
      <div class="md:col-span-2 lg:col-span-3 flex flex-col items-center">
        <img class="rounded-full"
             srcset="/assets/img/nathan-headshot-yellow-blue-240w.png,
                     /assets/img/nathan-headshot-yellow-blue-480w.png 2x"
             src="/assets/img/nathan-headshot-yellow-blue-480w.png">
        <p class="text-sm pt-4">{{ page.greeting }}</p>
      </div>
      <div class="md:col-span-6 lg:col-span-9 mt-8 md:mt-0">
        <h1 class="font-mono text-indigo-300 text-2xl md:text-3xl lg:text-4xl leading-tight">{{ page.headline }}</h1>
      </div>
    </div>
  </header>

  <section class="my-8 overflow-x-scroll">
    <div class="flex items-end">
      {% assign projects_grouped = site.projects | group_by: 'categoryId' | sort: 'name' %}
      {% for category in projects_grouped %}
        {% assign outer_forloop = forloop %}
        {% for project in category.items %}
          {% include project-thumb.html %}
        {% endfor %}
      {% endfor %}
    </div>
  </section>

  <section class="mx-auto px-6 md:pt-6 md:max-w-screen-md lg:max-w-screen-lg">
    <h2 class="p-8 mb-8 rounded-md bg-gray-900 font-mono text-accent text-xl lg:text-2xl leading-tight">{{ page.specialtiesHeadline }}</h2>
    <div class="grid grid-cols-1 sm:grid-cols-8 sm:gap-6 lg:grid-cols-12">
      {% for specialty in site.data.specialties %}
        {% include specialty.html %}
      {% endfor %}
    </div>
  </section>

  <section class="bg-gray-900">
    <div class="mt-8 mx-auto p-6 md:pt-12 md:max-w-screen-md lg:max-w-screen-lg">
      <h2 class="font-mono text-accent text-xl lg:text-2xl leading-tight mb-4">
        {{ page.footerHeadline }}
      </h2>
      <div class="text-lg mb-8">
        <p>
          <a class="mr-3 underline hover:text-accent" href="mailto:nathan@awakeningstudios.com">
            Email
          </a>
          <a class="mr-3 underline hover:text-accent" href="https://twitter.com/nselikoff">
            Twitter
          </a>
          <a class="mr-3 underline hover:text-accent" href="https://www.linkedin.com/in/nathanselikoff/">
            LinkedIn
          </a>
          <a class="mr-3 underline hover:text-accent" href="https://github.com/nselikoff">
            GitHub
          </a>
        </p>
      </div>
      <div class="sm:flex mt-16">
        <div class="mb-4 sm:order-last sm:pl-8">
          <div class="text-indigo-200 text-lg lg:text-xl mb-4">
            “Nathan is one of those exceedingly rare people who combine communication skills and aesthetic sense with excellent and timely programming. A joy to work with.”
          </div>
          <div>
            Anne Morgan Spalter, Artist and author of The Computer in the Visual Arts
          </div>
        </div>
        <div class="mb-8 sm:flex-none">
          <img class="rounded-md mx-auto"
               srcset="/assets/img/footer/footer-image-01@0.5x-80.jpg,
                       /assets/img/footer/footer-image-01-80.jpg 2x"
               src="/assets/img/footer/footer-image-01-80.jpg">
        </div>
      </div>

      <div class="sm:flex">
        <div class="mb-4 sm:pr-8">
          <div class="text-indigo-200 text-lg lg:text-xl mb-4">
            “Nathan is well rounded and an asset to any team with his blend of creative, technical leadership, and project managerial skills. He is an expert in architecture, engineering sophisticated code, and mentoring his team towards results.”
          </div>
          <div>
            Rajiv Menon, Founder/Solution Architect at Informulate
          </div>
        </div>
        <div class="mb-8 sm:flex-none">
          <img class="rounded-md mx-auto"
               srcset="/assets/img/footer/footer-image-02@0.5x-80.jpg,
                       /assets/img/footer/footer-image-02-80.jpg 2x"
               src="/assets/img/footer/footer-image-02-80.jpg">
        </div>
      </div>

      <div class="sm:flex">
        <div class="mb-4 sm:order-last sm:pl-8">
          <div class="text-indigo-200 text-lg lg:text-xl mb-4">
            “During our creative meetings, I found Nathan to understate his abilities and stay conservative on his promises. Yet, just look at Four Dimensions, and you’ll see that his bar is just much higher than everyone else’s!”
          </div>
          <div>
            Keith Lay, Composer
          </div>
        </div>
        <div class="mb-8 sm:flex-none">
          <img class="rounded-md mx-auto"
               srcset="/assets/img/footer/footer-image-03@0.5x-80.jpg,
                       /assets/img/footer/footer-image-03-80.jpg 2x"
               src="/assets/img/footer/footer-image-03-80.jpg">
        </div>
      </div>
    </div>
  </section>

  <footer class="text-center p-8">
    <p>Congrats, you made it to the bottom! <a href="#top" class="underline hover:text-accent">Back to top</a></p>
    <p class="mt-2">Or, continue exploring my work on <a href="https://nathanselikoff.com" class="underline hover:text-accent">nathanselikoff.com</a></p>
  </footer>
</div>
