---
---

@tailwind base;

@screen sm {
  .project-details {
    width: 300px;
  }
}

@screen lg {
  .project-details {
    width: 400px;
  }
}

.project-details p,
.job-application p {
  @apply mb-4;
}

.project-details a,
.job-application a {
  @apply underline;
}

.project-details a:hover,
.job-application a:hover {
  @apply text-accent;
}

.highlight pre {
  @apply overflow-x-scroll;
  @apply p-4;
}

.page-break-before {
  page-break-before: always;
}

code.highlighter-rouge {
  @apply bg-gray-700;
  @apply text-indigo-100;
}

@tailwind components;

@tailwind utilities;
